@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="padding-top:30px;">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://images.pexels.com/photos/1596888/pexels-photo-1596888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" target="_blank">
                <img src="https://images.pexels.com/photos/1596888/pexels-photo-1596888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Lights" style="width:100%">
                <div class="caption">
                    <p>Superb Quality</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" target="_blank">
                <img src="https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Nature" style="width:100%">
                <div class="caption">
                    <p>Fresh ingredients</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                <img src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Fjords" style="width:100%">
                <div class="caption">
                    <p>Cool Ambiance</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque volutpat nunc, ac suscipit leo sodales nec. Nullam euismod aliquam nulla at ornare. Fusce a turpis interdum tellus commodo fringilla. Proin maximus placerat iaculis. Aliquam rutrum turpis eu ipsum pretium, quis pulvinar est lobortis. Aenean iaculis mi sem, sit amet viverra dolor faucibus a. Donec sed elit eros. Praesent nibh sem, dignissim quis maximus at, cursus vitae quam. Sed accumsan bibendum nibh, eget volutpat neque tristique sed. Aenean nisl diam, ornare eget elit eget, gravida luctus nunc. Cras vehicula orci a laoreet sagittis.</p>
        </div>
