@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at imperdiet neque, sed fermentum nisl. Nullam quis venenatis dolor, vel iaculis libero. Maecenas auctor lacus dolor, quis auctor arcu facilisis vitae. Donec ut orci non eros iaculis sagittis non quis quam. Fusce eu ultrices nunc. Sed eu iaculis elit. Praesent non ante auctor risus bibendum congue non et mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc vestibulum metus nec quam euismod, ac imperdiet lectus congue. Nunc egestas magna quis nibh ornare, id malesuada lorem lacinia. In non pretium elit, convallis egestas est. Proin ac consequat orci. Donec eu pulvinar quam, ut sollicitudin purus.</p>

<p>In purus mauris, facilisis et tortor id, consectetur consequat ligula. Proin hendrerit vulputate rhoncus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc lacinia ut lacus quis posuere. Duis imperdiet sodales leo nec elementum. Ut lacinia vulputate turpis. Proin urna sapien, pharetra quis odio eget, scelerisque molestie est. Curabitur non consectetur velit, ut laoreet erat. Nunc augue ante, luctus ac tincidunt ac, malesuada ac neque. Nunc lectus orci, dapibus id lacus vitae, varius elementum nibh.</p>

<p>Suspendisse in tortor elementum, vestibulum urna nec, commodo metus. Curabitur a metus et eros convallis mollis. Nullam tellus felis, ornare ac neque eget, molestie fringilla neque. Aliquam augue dolor, dapibus venenatis enim nec, pretium tincidunt dolor. Aenean vel suscipit lorem, ac faucibus libero. Praesent eu blandit libero, quis vestibulum neque. Praesent eget faucibus nulla. Quisque nec sagittis eros. Praesent tristique ipsum at enim posuere, pretium aliquet dui viverra. Nullam vitae dui nulla. Nulla ultrices mauris vitae tincidunt semper.</p>

